
/* .container{
    border: 1px solid black;
    margin-left: 105%;
    width: 32vw;
} */
/* 
.column-one h1{
    margin-top: 59%; 
    margin-left:25% ;
    font-size: 26px;
}   

.column-one .btn-submit{
    margin-top: -33%;
    margin-left: 1%;
    background-color:rgb(94, 231, 94);
    border:0px solid rgb(94, 231, 94) ;
    border-radius: 9.3%;
} 
.column-one input{
    margin-top: 16%;
    margin-left: 12%;
}   

.column-two h1{
    margin-left: 82%;
    margin-top: -11.4%;  
    font-size: 26px;
} */
/* .column-two{
    border: 1px solid black;
    width: 32%;
    height:23vh;
} */



/* .form-group input[type=search] {
  
    padding: 6px;
    margin-top: 8px;

    align-items: right; */
    /* margin-left: 436%;
    margin-right: -325%; */
    /* border: none;
    font-size: 17px;
  } */
input{
    margin-left: 62%;
    margin-bottom: -173%;
    margin-top: 6%;
    width:42%;
  
    }   

.form-group .btn{
    margin-left: 16%;
    margin-top: 89.3%; 
    background-color:orange;    
    color: #213346;
    padding: 0.1% 3%;
}
.col h3{
    margin-left: 63%;
    margin-top: 8%;
    color: white;
}
.horiz-one{
    margin-left: 63%;
    color: white;
    width: 46%;
}
.col .text{
    margin-left: 63%;
    color: white;
}
marquee{
    margin-left: -15%;
    margin-top: 12%;
    color: white;
    font-size: 26px;
}
span{
    color: #FF10F0;
}